#input {
  background-color: #85144b; }
  #input a {
    color: #FFDC00; }
  #input div {
    padding: 5px; }

#address {
  background-color: #39CCCC; }
  #address div {
    font-family: "Luckiest Guy", cursive; }

h1 {
  font-family: "Luckiest Guy", cursive; }
